{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Deployment{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Please complete the following form</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}