{% extends "base.html" %}

{% block title %}Deployment{% endblock %}

{% block page_content %}
<style>
td, th {
	padding: 15px;
}
</style>
<table>
<tr>
	<th>Timestamp</th>
	<th>First Name</th>
	<th>Surname</th>
	<th>Date of Birth</th>
	<th>Days Alive</th>
	<th>Martian Days Alive</th>
</tr>

{% for r in results %}
<tr>
	<td>{{ r.timestamp }}</td>
	<td>{{ r.fname }}</td>
	<td>{{ r.sname }}</td>
	<td>{{ r.dateofbirth }}</td>
	<td>{{ r.days_alive() }}</td>
	<td>{{ r.days_alive_mars() }}</td>
</tr>
{% endfor %}
</table>


{% endblock %}