{% extends "base.html" %}

{% block title %}Deployment{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>You have been alive for {{ days_alive }} days {{ fname }} {{ sname }}, and {{ days_alive_mars }} martian days.</h1>
</div>
{% endblock %}